<!-- <div id="container" [@listAnimation]="items.length">
    <button (click)="pushItem()">Add item</button>
    <button (click)="remvoeItem()">Remove item</button>

    <div id="list" *ngFor="let item of items">
        {{ item }}
    </div>

    <div [@sliderAnimation]="items.length">
        <div class="col">
            <p>I think Coursetro is one of the best learning resources online for Angular</p>
        </div>
        <div class="col">
            <p>I think Coursetro is one of the best learning resources online for Angular</p>
        </div>
        <div class="col">
            <p>I think Coursetro is one of the best learning resources online for Angular</p>
        </div>
    </div>
</div> -->




<div id="container">
    <div [@sliderAnimation]="">
        <div class="col" *ngFor="let item of items">
            <h3 class="headline-3">Angular Animation</h3>
            <small class="body-3">I think Coursetro is one of the best</small>
            <p class="body-1">I think Coursetro is one of the best learning resources online for Angular</p>
        </div>
    </div>
</div>


<div @explainerAnim>
    <div class="col">
      <p>I think Coursetro is one of the best learning resources online for Angular</p>
    </div>
    <div class="col">
      <p>I think Coursetro is one of the best learning resources online for Angular</p>
    </div>
    <div class="col">
      <p>I think Coursetro is one of the best learning resources online for Angular</p>
    </div>
</div>

