<div class="container">
    <ngb-tabset >
        <ngb-tab title="Simple" 
             
                 [@popOverState]="stateName">
          <ng-template ngbTabContent>
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master
              cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
              synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan
              aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab [@popOverState]="stateName">
          <ng-template ngbTabTitle>
            <b>Fancy</b> title</ng-template>
          <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
            <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft
              beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum
              PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero
              magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard
              ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente
              accusamus tattooed echo park.</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <b>Fancy</b> title</ng-template>
          <ng-template ngbTabContent>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu ipsum sed lorem dapibus ullamcorper sed varius neque.
              <p>Praesent ut neque et est ultricies aliquet sit amet ut ipsum. In nec ligula tempus, convallis eros ut, tincidunt libero.
            Nam lacinia mauris scelerisque ipsum tincidunt congue. Mauris facilisis aliquam risus, at ultrices dui porta et. Proin
            diam urna, volutpat ac nunc in, convallis lacinia justo. Vivamus varius enim in nulla sagittis, sit amet ullamcorper
            magna aliquam. Pellentesque posuere a massa a porttitor. Nunc ultricies tortor eget eleifend tempor. Nullam tincidunt,
            ligula sit amet varius rutrum, elit dui dignissim purus, quis aliquet velit neque a nulla. Nunc vehicula, mi eget feugiat
            lobortis, est risus efficitur risus, nec semper turpis odio id lectus. Sed quis enim eu ex interdum faucibus. Etiam
            sit amet lobortis urna. Morbi accumsan lorem sit amet enim mollis lobortis. In dictum, ex a iaculis sollicitudin, erat
            neque consectetur dui, quis condimentum mi eros sit amet leo..</p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
</div>
