<div class="container">
    <div class="row">
        <div class="col">
            <div ngbDropdown 
                class="d-inline-block"
                (click)="toggle()">

                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>

                <div ngbDropdownMenu 
                     aria-labelledby="dropdownBasic1"
                     [@popOverState]="stateName">

                    <button class="dropdown-item">Action - 1</button>
                    <button class="dropdown-item">Another Action</button>
                    <button class="dropdown-item">Something else is here</button>
                </div>
            </div>
        </div>

        <div class="col">
            <div ngbDropdown 
                class="d-inline-block"
                (click)="toggle()">

                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>

                <div ngbDropdownMenu 
                        aria-labelledby="dropdownBasic1"
                        [@dropdownAnimation]="stateName">

                    <button class="dropdown-item">Action - 1</button>
                    <button class="dropdown-item">Another Action</button>
                    <button class="dropdown-item">Something else is here</button>
                </div>
            </div>
        </div>

        <div class="col">
                <div ngbDropdown 
                    class="d-inline-block"
                    (click)="toggle()">
    
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
    
                    <div ngbDropdownMenu 
                            aria-labelledby="dropdownBasic1"
                            [@heroState]="stateName">
    
                        <button class="dropdown-item">Action - 1</button>
                        <button class="dropdown-item">Another Action</button>
                        <button class="dropdown-item">Something else is here</button>
                    </div>
                </div>
            </div>
    </div>
</div>